.cards {
    background: #fcfbfd;
    min-width: 200px;
    min-height: 200px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    .cardHeader{
        border-bottom: 1px solid #ebebeb;
        padding: 10px;
    }
    .cardContent{
        padding: 10px;
    }
}